{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h1>Billetterie</h1>

	{{ form_start(bookingForm) }}
	<div class="row">
		<div class="col-6">
			{{ form_row(bookingForm.firstname)}}
			{{ form_row(bookingForm.lastname)}}
			{{ form_row(bookingForm.phone)}}
			<button type="submit" class="btn btn-lg btn-primary my-3">Réserver</button>

		</div>

		<div class="col-6">
			{% for i in 1..9 %}
				<div class="row">
					<div class="col-6 text-end">
						{{ form_label(attribute(bookingForm, 'concert'~i), 'concert '~i) }}
					</div>

					<div class="col-2">
						{{ form_widget(attribute(bookingForm, 'concert'~i)) }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	{{ form_end(bookingForm) }}

	{% if bookingForm.vars.errors.count %}
		<span class="invalid-feedback d-block">

			<span class="d-block">
				<span class="form-error-icon badge badge-danger text-uppercase">Erreur</span>
				<span class="form-error-message">{{ bookingForm.vars.errors.0.message }}</span>
			</span>
		</span>
	{% endif %}

{% endblock %}
